
<div class="container">
  <h4>Sucursales</h4>
  <br>
  <div  class="row">
    <div class="col-md-auto">
    <form #formSucursal="ngForm" (ngSubmit)="onSubmit(); formSucursal.resetForm()">
        <p>
            <mat-form-field>
                <input matInput placeholder="Nombre" type="text" name="nombre" 
                #nombre="ngModel" [(ngModel)]="sucursal.Suc_Nombre" required [readonly]="isDelete">
                <mat-error *ngIf="nombre.touched && !nombre.valid">
                        Nombre de sucursal invalido
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input style="text-transform:uppercase" matInput placeholder="Prefijo" type="text" 
                name="prefijo" #prefijo="ngModel" [(ngModel)]="sucursal.Suc_Prefij" 
                maxlength="3" required pattern="[a-zA-Z]+" [readonly]="isDelete">
                <mat-error *ngIf="prefijo.touched && !prefijo.valid">
                        Prefijo no valido
                </mat-error>
            </mat-form-field>
        </p>
        <div *ngIf="tipoAccion == 1">
            <button mat-raised-button type="submit" color="primary" [disabled]="!formSucursal.form.valid">Guardar</button>
        </div>
        <div *ngIf="tipoAccion == 3">
            <button class="btn btn-info" style="min-width: 88px" type="submit" [disabled]="!formSucursal.form.valid">Editar</button>
            <button mat-button type="reset" color="accent" (click)="limpiar();formSucursal.resetForm()">
                    Limpiar
            </button>
        </div>
        <div *ngIf="tipoAccion == 2">
                <button mat-raised-button type="submit" color="warn" [disabled]="!formSucursal.form.valid">Eliminar</button>
                <button mat-button type="reset" color="accent" (click)="limpiar();formSucursal.resetForm()">
                        Limpiar
                </button>
            </div>
    </form>
    </div>
    <div  *ngIf="sucurs"  class="col-sm">
        <table class="table table-dark" style="width: 650px">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Prefijo</th>
                    <th scope="col">Fecha de Alta</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sucur of sucurs">
                    <th scope="row">{{sucur.Suc_IDSucu}}</th>
                    <td>{{sucur.Suc_Nombre}}</td>
                    <td>{{sucur.Suc_Prefij}}</td>
                    <td>{{sucur.Suc_FecAlt | date:'MM/dd/yyyy'}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info" (click)="editar(sucur)">Editar</button>
                            <button type="button" class="btn btn-danger" (click)="eliminar(sucur)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <div  *ngIf="!sucurs"  class="col-sm">
      Cargando sucursales...
  </div>
